@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&family=Mukta&display=swap");
/* font-family: 'Courgette', cursive;
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Roboto', sans-serif;
*/
:root {
  --primary-color: #ff725e;
  --secondary-color: #263238;
  --input-border: #d9e5e9;
  --input-background: #f7f8f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button,input {
  outline: none;
}



/* ------------Modal--------------- */
.log-in-modal {
  display: flex;
  flex-direction: column;
  flex: 12;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* --------------Form----------------- */
.form--container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.form--header {
  /* border: 2px solid red; */
  padding-bottom: 10px;
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: #ff725e;
}

.back-icon {
  margin-right: 13px;
}

.form--body {
  display: flex;
  flex: 10;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  /* border: 3px solid red; */
}

.gender--options {
  margin: 10px;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  max-width: 30vw;
  /* gap: 10px; */
}

.more--options {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.options, .show-btn {
  outline: none;
  border: none;
  background-color: #ff725e;
  color: #f7f8f9;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
