@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&family=Mukta&display=swap");
/* font-family: 'Courgette', cursive;
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Roboto', sans-serif;
*/
:root {
  --primary-color: #ff725e;
  --secondary-color: #263238;
  --input-border: #d9e5e9;
  --input-background: #f7f8f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button,input {
  outline: none;
}



/* ------------Modal--------------- */
.log-in-modal {
  display: flex;
  flex-direction: column;
  flex: 12;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* --------------Form----------------- */
.form--container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.form--header {
  /* border: 2px solid red; */
  padding-bottom: 10px;
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: #ff725e;
}

.back-icon {
  margin-right: 13px;
}

.form--body {
  display: flex;
  flex: 10;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  /* border: 3px solid red; */
}

.gender--options {
  margin: 10px;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  max-width: 30vw;
  /* gap: 10px; */
}

.more--options {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.options, .show-btn {
  outline: none;
  border: none;
  background-color: #ff725e;
  color: #f7f8f9;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}



/*-------- OnBoarding Page --------*/
.onboarding {
  border-top: solid 1px rgb(213, 213, 213);
}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type=radio] {
  display: none;
}

.onboarding form input[type=number] {
  width: 10%;
}

.onboarding form input[type=radio]:checked+label {
  border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type=submit]:hover {
  background-color: rgb(235, 235, 235);
}

.onboarding form input[type=submit]:active {
  background-color: rgb(226, 115, 115);
}

.onboarding form .photo-container img {
  width: 100%
}