@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&family=Mukta&display=swap");
/* font-family: 'Courgette', cursive;
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Roboto', sans-serif;
*/
:root {
  --primary-color: #ff725e;
  --secondary-color: #263238;
  --input-border: #d9e5e9;
  --input-background: #f7f8f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button,
input {
  outline: none;
}
/* ---------NavBar---------- */
nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.menu ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu ul li a {
  color: var(--secondary-color);
  padding: 8px 15px;
  border-radius: 15px;
}
.menu ul li a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
/* Toggle bar  */
.active-bar {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  justify-content: center;
}
.active-bar > span {
  width: 20px;
  height: 3px;
  background-color: var(--secondary-color);
}

/* ---------Media Query for navbar when screen size less than 768px ------- */
@media screen and (max-width: 767px) {
  .active-bar {
    display: flex;
  }
  .menu ul {
    display: none;
  }
}

/* ----------Home----------- */
.home {
  height: 100vh;
  text-align: center;
  padding: 0 20px;
}

.home--container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 120px;
}
.text-box h1 {
  font-size: 55px;
  margin-bottom: 10px;
}
.text-box p {
  color: var(--secondary-color);
  text-align: center;
  line-height: 1.2;
}
.register-btn,
.login-btn {
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  color: white;
  letter-spacing: 1px;
  transition: all 0.3s;
  font-weight: 600;
}
.register-btn {
  padding: 12px 25px;
  background-color: var(--primary-color);
}
.login-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  margin-left: 10px;
}
.login-btn:hover,
.register-btn:hover {
  transform: scale(1.1);
}
.lottie_gif {
  width: 100vw;
  height: 100vh;
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ------------Modal--------------- */
.log-in-modal {
  display: flex;
  flex-direction: column;
  flex: 12;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* --------------Form----------------- */
.form--container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.form--header {
  /* border: 2px solid red; */
  padding-bottom: 10px;
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: #ff725e;
}

.back-icon {
  margin-right: 13px;
}

.form--body {
  display: flex;
  flex: 10;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  /* border: 3px solid red; */
}

.gender--options {
  margin: 10px;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  max-width: 30vw;
  /* gap: 10px; */
}

.more--options {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.options, .show-btn {
  outline: none;
  border: none;
  background-color: #ff725e;
  color: #f7f8f9;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

/**************Start Register and Signup Popup Modal**********/
.outside-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; 
}
.modal-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: "Mukta", sans-serif;
  background-color: white;
}
.modal-container .side-box {
  width: 285px;
  position: relative;
  border-radius: 15px;
  margin-left: -150px;
  margin-right: 20px;
}
.modal-container .side-box > img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.modal-container .form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0 10px;
  text-align: center;
  gap: 15px;
}
/* ------Media Screen for register and login popup model---------- */
@media screen and (max-width: 767px) {
  .modal-container {
    flex-direction: column;
  }
  .side-box {
    display: none;
  }
}

.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container h2 {
  color: var(--primary-color);
  font-size: 30px;
}
.form-container form input {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  color: var(--secondary-color);
  border: 1px solid var(--input-border);
  background-color: var(--input-background);
}
.form-container form input:focus {
  transition: all 0.3s;
  transform: scale(1.05);
}
.form-container form input[type="submit"] {
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px !important;
}

.form-container form input[type="submit"]:hover {
  opacity: 0.8;
}
/**************End Register and Signup Popup Modal**********/

/* ************ Start React icons styling **********/
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-icons span {
  font-size: 30px;
  cursor: pointer !important;
}
.cross-icon {
  position: absolute;
  color: var(--secondary-color);
  cursor: pointer !important;
  z-index: 5;
  font-size: 22px;
}
.cross-icon:hover {
  opacity: 0.7;
  transform: rotate(30deg);
  transition: 0.2s;
}
.term-condition {
  font-size: 14px;
}
.term-condition a {
  color: var(--primary-color);
}

/* ************ End React icons styling **********/
